.audioBookInfo {
  display: grid;
  grid-template-columns: 2fr 5fr;
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
  width: 800px;
  height: 300px;
}

.comment {
  padding: 5px;
  margin: 5px;
}
.userName {
  padding-left: 30px;
  /* margin-left: 30px; */
}
.comment p {
  border: 1px solid rgb(151, 149, 149);
  padding: 10px;
  /* margin: 10px; */
  border-radius: 5px;
}

.likesCount {
  text-align: right;
  margin-right: 30px;
}
