.wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 2fr auto 2fr;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
}

.content {
  grid-area: content;
}
